/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

/* Headings */
.check1,
.check2,
.check3 {
  margin-top: 10px;
}

/* Colored Boxes */
.color {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
}

.color.blue {
  background-color: #2196f3;
  color: white;
}

.color.green {
  background-color: #16a085;
  color: white;
}

.color.yellow {
  background-color: #f1c40f;
  color: white;
}

.color.magenta {
  background-color: #e91e63;
  color: white;
}

.color.rainbow {
  background-color: #9b59b6;
  color: white;
}

.color.pink {
  background-color: #e84393;
  color: white;
}

.color.bubblegum {
  background-color: #f78fb3;
  color: white;
}

.color.orange {
  background-color: #f39c12;
  color: white;
}

/* Lists */
ul {
  font-family: Arial;
  background-color: white;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /* Orientieren Sie sich nach der größten Kachel */
}

/* Body */
body {
  padding: auto 5px;
  margin: auto 20px;
  background-color: white;
  color: black;
 
}

/* Headings */
h1 {
  text-decoration: underline;
  text-align: center;
  
}

/* Flexbox for right alignment */
.container {
  display: flex;
  justify-content: flex-end;
}

/* Introduction Section */
.introduction {
  background-color: blanchedalmond;
  
  
}

.introduction-text {
  background-color: beige;
  text-decoration: none;
  font-weight: lighter;
  font-style: normal;
  margin: 3px 0;
  /* padding: 3px 10px; */
}

/* Dedicated Section */
.dedicated {
  font-family: Arial;
  background-color: black;
  color: white;
  border: 10px solid black;
}

/* Contact Section */
.contact {
  background-color: #ABB2B9;
  color: black;
  margin-top: 5px;
  font-family: Arial;
  text-align: center;
}

/* Text Boxes */
.oswald,
.quicksand,
.kanit,
.almendra-sc {
  border: 1px solid black;
 
}

.text-boxes {
  margin: 20px 0;
}

/* Oswald */
.oswald-default {
  font-family: "Oswald";
}

.oswald-bold {
  font-family: "Oswald";
  font-weight: bold;
}

.oswald-500 {
  font-family: "Oswald";
  font-weight: 500;
}

/* Quicksand */
.quicksand-default {
  font-family: "Quicksand";
}

.quicksand-bold {
  font-family: "Quicksand";
  font-weight: bold;
}

.quicksand-alt {
  font-family: "Quicksand";
  font-weight: 500;
}

/* Kanit */
.kanit-default {
  font-family: "Kanit";
}

.kanit-bold {
  font-family: "Kanit";
  font-weight: bold;
}

.kanit-alt {
  font-family: "Kanit";
  font-weight: 500;
}

/* Almendra SC */
.almendra-sc-default {
  font-family: "Almendra SC", serif;
}

.almendra-sc-bold {
  font-family: "Almendra SC", serif;
  font-weight: bold;
}

.almendra-sc-alt {
  font-family: "Almendra SC", serif;
  font-weight: 500;
}

/* Textstuff */
.textstuff {
  display: block;
  margin-bottom: 20px;
}

.textstuff h1 {
  font-size: 24px;
  font-weight: bold;
}

.textstuff ul {
  list-style-type: none;
  padding-left: 0;
}

.textstuff li {
  margin-bottom: 5px;
}



